ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    margin: 5%;
    color: white;
}

#InstagramLogo {
    width: 13%;
}

#FacebookLogo {
    position: absolute;
    color : white;
    top : 2%;
    right: 1%;
    width: 100%;
    margin-top: 20px;
    font-size: 400%;
}

#FacebookLogo:hover {
    position: absolute;
    color : rgb(223, 255, 78);
    top : 2%;
    width: 100%;
    font-size: 400%;
}

#InstagramLogo {
    position: absolute;
    color: white;
    top: 42%;
    width: 100%;
    font-size: 400%;
}

#InstagramLogo:hover {
    position: absolute;
    color: rgb(223, 255, 78);
    top: 42%;
    width: 100%;
    font-size: 400%;
}

#GallerieLogo {
    position: absolute;
    color: white;
    top: 82%;
    width: 100%;
    font-size: 400%;
}

#GallerieLogo:hover {
    position: absolute;
    color: rgb(223, 255, 78);
    top: 82%;
    width: 100%;
    font-size: 400%;
}

#div_network {
    position : absolute;
    top : 25%;
    right: 5%;
    height: 55%;
    width: 6%;
    background-color: rgb(0,0,0,0.5);
    border-radius: 50px;
}