.navbar {
    position: fixed;
    top: 2.5%;
    right: -40%;
    width: 100%;
  }
  

  .navbar ul {
    list-style: none;
    display: inline-flex; /* Utilise inline-flex pour aligner les éléments horizontalement */
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 0 10px;
    padding: 50px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
  }
  