.main_div {

}

#apropos {
    background-color: green;
}

#agenda {
    background-color: red;
}

#staff {
    background-color: yellow;
}

#infos {
    background-color: blue;
}

#main_div {
    margin-top: 7%;
}