.main_div {

}

#apropos {
    background-color: rgb(241, 241, 241);
}

#agenda {
    background-color: rgb(233, 233, 233);
}

#staff {
    background-color: rgb(223, 223, 223);
}

#infos {
    background-color: rgb(206, 206, 206);
}

#main_div {
    margin-top: 7%;
}

.logopatro {
    margin-left: 1%;
    margin-top:1.5%;
    width: 400px; 
    height: auto;
    transform: rotate(-15deg);
  }